---
Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements
'

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
--- 