BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
AlignTrailingComments: true
SpaceAfterCStyleCast: true
MaxEmptyLinesToKeep: 2
SortIncludes: true 